<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>
<body>
    <h1>Order List</h1>
    <table border="1">
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Order Note</th>
            <th>Customer ID</th>
            <th>Logistics ID</th>
            <th>Employee ID</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.OrderID}}</td>
            <td>{{.OrderDate}}</td>
            <td>{{.OrderNote}}</td>
            <td>{{.CustomerID}}</td>
            <td>{{.LogisticsID}}</td>
            <td>{{.EmployeeID}}</td>
        </tr>
        {{end}}
    </table>
</body>
</html>
